<h1>All Users</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.name %>
      <%= link_to 'Send Friend Request', send_friend_request_user_path(user), method: :post %>

    <%= link_to 'Send Friend Request', send_friend_request_user_path(user), method: :post  %>
    <%= link_to 'Accept Friend Request', accept_friend_request_user_path(user), method: :post  %>
    <%= link_to 'Decline Friend Request', decline_friend_request_user_path(user), method: :post  %>

    </li>
  <% end %>
</ul>
