<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation in HTML | CodingNepal</title>
    <link rel="stylesheet" href="main.css">
    <!-- Fontawesome CDN Link For Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background: #1BB295;
}

form {
  padding: 25px;
  background: #fff;
  max-width: 500px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

form h2 {
  font-size: 27px;
  text-align: center;
  margin: 0px 0 30px;
}

form .form-group {
  margin-bottom: 15px;
  position: relative;
}

form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}

form input,
form select {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

form input:focus,
form select:focus {
  border-color: #9a9a9a;
}

form input.error,
form select.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

form .password i {
  position: absolute;
  right: 0px;
  height: 45px;
  top: 28px;
  font-size: 13px;
  line-height: 45px;
  width: 45px;
  cursor: pointer;
  color: #939393;
  text-align: center;
}

.submit-btn {
  margin-top: 30px;
}

.submit-btn input {
  color: white;
  border: none;
  height: auto;
  font-size: 16px;
  padding: 13px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background: #1BB295;
  transition: 0.2s ease;
}

.submit-btn input:hover {
  background: #179b81;
}
    </style>
  </head>
  <body>
    <%= form_for @user, url: register_path(@user), method: :post do |f| %>
      <h2>Form Validation</h2>
      <div class="form-group fullname">
        <%= f.label :name, "Full Name" %>
        <%= f.text_field :name, placeholder: "Enter your full name" %>
      </div>
      <div class="form-group mobile">
        <%= f.label :mobile, "Mobile Number" %>
        <%= f.text_field :mobile_number, placeholder: "Enter your mobile number" %>
      </div>      
      <div class="form-group email">
        <%= f.label :email, "Email Address" %>
        <%= f.email_field :email, placeholder: "Enter your email address" %>
      </div>
      <div class="form-group password">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, placeholder: "Enter your password" %>
        <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
      </div>
      <div class="form-group password">
        <%= f.label :password_confirmation, "Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Enter your confirm password" %>
        <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
      </div>
      <div class="form-group date">
        <%= f.label :birth_day, "Birth Date" %>
        <%= f.date_field :birthday, placeholder: "Select your date" %>
      </div>
      <div class="form-group gender">
        <%= f.label :gender, "Gender" %>
        <%= f.select :gender, options_for_select(['Select your gender', 'Male', 'Female', 'Other']), {}, { prompt: 'Select your gender' } %>
      </div>
      <div class="form-group submit-btn">
        <%= f.submit "Submit" %>
      </div>
    <% end %>

    <script src="script.js"></script>
  </body>
</html>
