<h1>Chat</h1>
<% if @current_user.present? %>
  <div id="chat">
    <div class="message">
        <%= @messages.content %>
      </div>
      
  </div>

  <%= form_for Message.new, url: chat_create_path, remote: true do |f| %>
    <%= f.text_area :content, placeholder: 'Type your message...' %>
    <%= f.submit 'Send' %>
  <% end %>
<% else %>
  <p>Please sign in to access the chat.</p>
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>




